{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CENTERDOC - Gestão Eletrônica de Documentos</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'ged/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'ged/bootstrap/css/glyphicons.css' %} " rel="stylesheet">
    <link href="{% static 'ged/bootstrap/css/style.css' %}" rel="stylesheet">
  </head>

	<body>
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'ged:home' %}">CENTERDOC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          {% if request.user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ged:livro_list' %}">Livros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ged:tipo_list' %}">Tipos de Documento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ged:empresa' %}">Empresa</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Usuário<span class="caret"></span></a>
              <div class="dropdown-menu" id="formLogin">
                <div class="row">
                  <div class="container-fluid">
                    <ul class="list-group">
                      <li class="list-group-item justify-content-between">
                        Usuário: {{request.user.username}}<br />
                        Último Login: {{request.user.last_login|date:'d/m/Y'}}
                      </li>
                      <li class="list-group-item justify-content-between">
                        <a href="{% url 'login:list' %}" class="btn btn-default navbar-btn navbar-right">
                          Usuários   <span class="glyphicon glyphicon-user" aria-hidden="true">
                        </a>
                      </li>
                      <li class="list-group-item justify-content-between">
                        <a href="{% url 'ged:backup_list' %}" class="btn btn-default navbar-btn navbar-right">
                          Backup   <span class="glyphicon glyphicon-download-alt" aria-hidden="true">
                        </a>
                      </li>                      
                      <li class="list-group-item justify-content-between">
                        <a href="{% url 'login:logout' %}" class="btn btn-default navbar-btn navbar-right">
                          Encerrar   <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <main role="main" class="container">
      <div class="row row-offcanvas row-offcanvas-right center">
    	{% block content %}
    	{% endblock %}
      </div>
    </main>
    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text pull-left">© 2017 - CENTERDOC - Todos os Direitos Reservados <br />
        <span class="glyphicon glyphicon-phone"></span> (99) 9 8122-0985  
        <span class="glyphicon glyphicon-send"></span>antonios.joao@gmail.com 
      </p>       
        <p class="navbar-text pull-left"></p>       
        <img src="/media/image/logo-devcenter.png">
      </div>
    </div>
    <script src="{% static 'ged/bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'ged/popper/popper.min.js' %}"></script>
    <script src="{% static 'ged/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
    <script src="{% static 'ged/bootstrap/js/script.js' %}"></script>
	</body>
</html>