{% extends 'ged/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="col-12 col-md-6">
<h3>Livro</h3>
<form method="POST" action="{{ action }}" enctype="multipart/form-data">{% csrf_token %}
	{% for field in form %}
    {% if field.errors %}
      <div class="form-group">
        <label for="id_{{ field.name }}" class="col-form-label">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
        <span></span>
        <div>
          {% for error in field.errors %}{{ error }}{% endfor %}
        </div>
      </div>
    {% else %}
      <div class="form-group">
        <label for="id_{{ field.name }}" class="col-form-label">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
        {% if field.help_text %}
          <div>{{ field.help_text }}</div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-primary">Salvar</button>
  <a class="btn btn-danger" href="{% url 'ged:livro_list' %}">Cancelar</a>
  {% if form.instance.id %}
    <a style="float: right;" class="btn btn-info pull-right" href="{% url 'ged:pagina_new_livro' livro_pk=form.instance.id %}">Adicionar Páginas</a>
  {% endif %}
</form>
</div>
{% endblock content %}