{% extends 'ged/base.html' %}
{% block content %}

<div class="col-12 col-md-8">
<h3 class="my-4">Tipo de Documentos
  <small><a class="btn btn-secondary ud_bt" href="{% url 'ged:tipo_new' %}">Adicionar</a></small>
</h3>
	<div class="panel list-group">
 		{% for tipo in grupos %}	
			<span class="list-group-item" >
				{{ tipo.nome }}
				<span class="ud_bt">
					<a href="{% url 'ged:tipo_edit' pk=tipo.pk %}"><span class="glyphicon glyphicon-edit pull-right" ></span></a>
					<a class="confirm-remove" href="{% url 'ged:tipo_del' pk=tipo.pk %}"><span class="glyphicon glyphicon-trash pull-right"></span></a>
				</span>
			</span>
		{% endfor %}
  </div>
  <div class="col-md-7 my-2" >
      <ul class="pagination" style="float: right;">
        {% if grupos.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ grupos.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        {% endif %}
        <li class="page-item page-link">
          {{ grupos.number }}  de {{ grupos.paginator.num_pages }}
        </li>
        {% if grupos.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ grupos.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Próxima</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
</div> 
{% endblock content %}