{% extends 'ged/base.html' %}
{% load staticfiles %}

{% block content %}
<div class='row'>
	<div class="col-md-12 sidenav login">
		<div class="col-md-10">
		<form method='POST' class='login' action=" {{ request.path }}{% if next %}?next={{ next }}{% endif %} ">{% csrf_token %}
		{% for field in form %}
		<fieldset class="control-group">
		    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
		    <div class="controls">
		        {{ field }}
		        <p class="help-text">{{ field.help_text }} </p>
		    </div>
		</fieldset>
		{% endfor %}
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-success" type="submit">
					Logar
				</button>
			</span>
		</div>
	</div>
	</form>
	</div>
</div>
{% endblock content %}
